@import url("https://fonts.googleapis.com/css2?family=Besley&family=Comfortaa&family=Inconsolata&display=swap");

label {
  margin-left: 1px;
}

h1 {
  color: #555555;
  font-family: "Besley", sans-serif;
}

select option {
  font-family: "Inconsolata", monospace;
}

table {
  font-family: "Comfortaa", sans-serif;
  letter-spacing: 0.55px;
  max-width: 900px;
}
